---
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Astro Spotify</title>
	</head>
	<body class="h-screen flex flex-col p-2 gap-2">
		<Header class="flex-none" />
		<div class="flex flex-1 gap-2">
			<Sidebar class="flex-none" />
			<main class="flex-1 overflow-auto">
				<slot />
			</main>
		</div>
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #000;
		color-scheme: dark light;
	}
</style>