---
import { Icon } from 'astro-icon/components'
---

<aside class="bg-spotify-dark-gray w-[420px] rounded-lg">
    <div class="p-5">
        <div class="flex justify-between">
            <div class="flex items-center gap-4 text-spotify-light-gray font-bold cursor-pointer duration-300 hover:text-white">
                <Icon name="carbon:media-library" class="h-6 w-6"/>
                <h2>Your Library</h2>
            </div>
            <div class="flex justify-center items-center rounded-full text-spotify-light-gray cursor-pointer transition-colors hover:text-white hover:bg-spotify-hover-gray h-8 w-8">
                <Icon name="carbon:add" class="h-7 w-7"/>
            </div>
        </div>
    </div>
</aside>